<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@latest/dist/plugins/rangePlugin.js"></script>
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">

  <!-- Modal -->
<div class="modal fade" role="dialog" id="myModal<%= mom.name %>">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" id="modal-div">

      <div class="modal-body">
        <h4 class="modal-title" id="mom-modal-name"><%= mom.name %></h4>
        <!-- INNER CONTENT -->
        <div class="separ" id="mom-info"></div>
          <div id='modalpic'>PICTURE</div>
          <div><p>LOCATION: <%= mom.location %></p></div>
          <div><p>OWNED BY: <%= mom.owner.name %></p></div>

          <% range_id_start = "range-start-#{mom.id}" %>
          <% range_id_end = "range-end-#{mom.id}" %>
          <script>
            console.log("<%= range_id_start %>");
            console.log("<%= range_id_end %>");
          </script>

          <%= simple_form_for [mom, @booking] do |f| %>
            <%= f.input :start_date, as: :string, required: true, input_html: { id: range_id_start, placeholder: "Select Date.." } %>
            <%= f.input :end_date, as: :string, required: true, input_html: { id: range_id_end, placeholder: "Select Date.." } %>
            <%= f.submit "Create", class: "btn btn-primary" %>
          <% end %>

          <script>
            console.log("#range-start-<%= mom.id %>");
            console.log("#range-end-<%= mom.id %>");
            flatpickr("#range-start-<%= mom.id %>", {
              altInput: true,
              plugins: [new rangePlugin({ input: "#range-end-<%= mom.id %>"})],
              minDate: "today"
            });
          </script>

        </div>
        <!-- END INNER CONTENT -->
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
