<h2><%= @mom.name %></h2>
<p><%= @mom.location %></p>


<%= simple_form_for [@mom, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', moms_path %>
