<div class="backimage">
  <div class="container">
    <div class="signupform row d-flex justify-content-center">
      <div class="col-8 inputarea">
        <h2>Registration</h2>
        <%= simple_form_for(@user, url: user_registration_path) do |f| %>
        <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "First name" }%>
            <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Last name" }%>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Register", class: "btn edit-button" %>
          </div>
          <div class="spacer10"></div>
        <% end %>
      <%= render "devise/shared/links" %>

      <div class="avatarlogo">
        <%= image_tag "logo.jpg", alt: "alttext" %>
      </div>

      </div>
    </div>
  </div>
</div>
