<p id="notice"><%= notice %></p>

<div class="dashboard row">

<div>
  <div class="profile">
    <h3>  <%= current_user.name %> <%= current_user.last_name %> </h3>
    <h5>  <i class="far fa-heart"></i> <%= current_user.mom.name %> <%= current_user.mom.last_name %> </h5>
  </div>
  <div class="links">
    <p><%= link_to 'Create mom',  new_mom_path, class: "btn create-button" %></p>
    <p><%= link_to 'Edit profile',  edit_user_registration_path, class: "btn edit-button" %></p>
    <p><%= link_to 'Sign Out',  destroy_user_session_path, :method => :delete, class: "btn signout-button" %></p>
  </div>
</div>

  <div class="bookings row">

    <div class="user_bookings">
      <h3>My bookings:</h3>
      <div class="my_current_bookings">
        <h5>Current bookings</h5>
        <% if @my_current_bookings.empty? %>
          <p>You have no current bookings</p>
        <% else @my_current_bookings.each do |my_booking| %>
              <p>  <%= my_booking.mom.name %> | <%= my_booking.start_date %> </p>
              <% end %>
          <% end %>
      </div>

       <div class="my_past_bookings">
        <h5>Past bookings</h5>
        <% if @my_past_bookings.empty? %>
          <p>You have no past bookings</p>
        <% else @my_past_bookings.each do |my_booking| %>
              <p>  <%= my_booking.mom.name %> | <%= my_booking.start_date %> </p>
              <% my_booking.mom.reviews.each do |review| %>
              <p><%= review.rating  %> | <%= review.description %></p>
              <% end %>
              <%= link_to "Add a review", new_mom_review_path(my_booking.mom)   %>
              <% end %>
          <% end %>
      </div>
    </div>

     <div class="mom_bookings">
      <h3>Mom's bookings:</h3>
        <div class="moms_current_bookings">
          <h5>Current bookings</h5>
          <% if @my_mom_current_bookings.empty? %>
            <p>Your mom has no current bookings</p>
          <% else @my_mom_current_bookings.each do |my_booking| %>
                <p>  <%= my_booking.mom.name %> | <%= my_booking.start_date %> </p>
                <% end %>
            <% end %>
        </div>

      <div class="moms_past_bookings">
      <h5>Past bookings</h5>
      <% if @my_mom_past_bookings.empty? %>
        <p>Your mom has no past bookings</p>
      <% else @my_mom_past_bookings.each do |my_booking| %>
            <p>  <%= my_booking.mom.name %> | <%= my_booking.start_date %> </p>
            <% end %>
        <% end %>
      </div>
  </div>
</div>

</div>
