<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MammaMia</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body id="all">
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
    <%= link_to root_path do %>
      <img id="flying-mom" src="https://i.ibb.co/L6QQYC6/henderson-mom.png" alt="CLICK ME" style="width: 213px;height: 160px;position: absolute;z-index: 999; left:-320px;">
    <% end %>
    <%= render 'shared/navbar-home' %>
    <%= yield %>
    <footer><%= render 'shared/footer' %></footer>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
